.handle{
    position: absolute;
    left: -10px;
    top: -10px;
    background : #555;
    width : 15px;
    height : 15px;
}

.handle:hover{
    background: #09F;
}


input[type = "text"] {
    width : 100px;
}

/*Panel*/

#FullPanel {
    font-size: 16px;
    padding: 10px;
    text-align: center;
    /*background-color: #4CAF50;*/
    background-color : #6A6A6A;
    color: white;
    border: solid 1px #a6d8a8;
    margin: auto;
}

/* Control */
input[type="number"] {
    width:50px;
}
.GUIProperties{
    border-style : solid;
    border-color : #d3a678;
}

/* Set border Create button */
/*.create{*/
/*border : solid;*/
/*border-color : #6A6A6A;*/
/*width : 16.5%;*/
/*padding : 0.8%;*/
/*}*/

/*!*Set border options button *!*/
/*.options{*/
/*border : solid;*/
/*border-color : #6A6A6A;*/
/*width : 16.5%;*/
/*padding : 0.8%*/
/*}*/

/*.files{*/
/*border : solid;*/
/*border-color: #6A6A6A;*/
/*width :16.5%;*/
/*padding : 0.8%;*/
/*}*/



label.loading input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.loading {
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    background: black;
    display: inline-block;
}

.loading:hover {
    box-shadow: inset 0 0 0 2px #b35e14 ;
    transition: 0.1s;
}

.loading:invalid + span {
    color: lightgray;
}

.loading:valid + span {
    color: lightgray;
}

/* Switch for edit */
/*CSS for switch from checkbox*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
}

.switch input {display:none;}

.checkboxSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkboxSlider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: #292a24;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .checkboxSlider {
    background-color: #b35e14;
}

input:focus + .checkboxSlider {
    box-shadow: 0 0 1px #b35e14;
}

input:checked + .checkboxSlider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}