body {
  padding: 0px;
  background-color: #232323;
  color: lightgray;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #B35E14;
}

header{
  height: 59px;
  background-color: #1F4661;
;
}

textarea{
    background: #272822;
    color: #f8f8f2;
    border: 0px;
    width: 100%;
    resize: none;
}

footer {
  /*position: relative;*/
  /*bottom: 0;*/
  /*right: 20px;*/
}

/* menu bar navigation*/
ul#menu {

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  /*padding-top: 13px;*/
  /*position: inherit;*/
}

ul#menu li {
  display: inline;
}

ul#menu li a {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lightgray;
  padding: 5px 10px;
  text-decoration: none;
  /*border-radius: 4px 4px 0 0;*/
}

ul#menu li a:hover {
  /*background-color: #935600;  */
  background-color: #b35e14;
}



/*Fancy animated buttons for code editor*/

/*button.editor {*/
  /*font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  /*display: inline-block;*/
  /*border-radius: 4px;*/
  /*background-color: black;*/
  /*border: none;*/
  /*color: lightgray;*/
  /*text-align: center;*/
  /*padding: 5px;*/
  /*!*width: 100px;*!*/
  /*transition: all 0.5s;*/
  /*cursor: pointer;*/
  /*margin-top: 3px;*/
/*}*/

/*button.editor span {*/
  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*transition: 0.5s;*/
/*}*/


/*button.editor span:after {*/
  /*content: '!';*/
  /*position: absolute;*/
  /*opacity: 0;*/
  /*top: 0;*/
  /*right: 10px;*/
  /*transition: 0.5s;*/
/*}*/

/*button.editor:hover span {*/
  /*padding-right: 10px;*/
/*}*/

/*button.editor:hover span:after {*/
  /*opacity: 1;*/
  /*right: 0;*/
/*}*/

button, input{

    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: lightgray;
    text-align: center;
    padding: 5px;
    /*width: 100px;*/
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 3px;

}

button:hover, input:hover {
    box-shadow: inset 0 0 0 2px #b35e14 ;
    transition: 0.1s;
}


label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.myLabel {
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-top: 3px;
    background: black;
    display: inline-block;
}
.myLabel:hover {
    box-shadow: inset 0 0 0 2px #b35e14 ;
    transition: 0.1s;
}

.myLabel :invalid + span {
    color: lightgray;
}
.myLabel :valid + span {
    color: #b35e14;

.clearfix {
    overflow: auto;
}

/*input {*/
    /*font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    /*display: inline-block;*/
    /*border-radius: 4px;*/
    /*background-color: black;*/
    /*border: none;*/
    /*color: lightgray;*/
    /*text-align: center;*/
    /*padding: 5px;*/
    /*!*width: 100px;*!*/
    /*transition: all 0.5s;*/
    /*cursor: pointer;*/
    /*margin-top: 3px;*/
/*}*/