<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!--Jquery-->
	<script src="javascripts/jquery/jquery-3.2.1.min.js"></script>

	<!--socket.io-->
	<script src="javascripts/socket.io/socket.io.js"></script>

</head>

<body>
<div style="width: 1000px; padding-left: 10px; padding-right: 10px;">
	<a href="http://prynth.github.io" target="_blank" style="text-decoration: none"><img src="/images/prynth_logo.png" style="width: 30px;"> <span style="font-size:2em;"> Prynth</span> </a>
</div>
<div class="clearfix"></div>

<h2>Settings</h2>

<div style="width: 1000px; height: 800px;">


	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">System Info</h3>
		Uptime: <span id="clock" class="panel"></span><br>
		Hostname: <span id="hostname" class="panel"></span><br>
		Ethernet IP: <span id="ethernetip" class="panel"></span><br>
		Wireless IP: <span id="wirelessip" class="panel"></span><br>
		CPU usage: <span id="cpu" class="panel"></span><br>
		Free memory: <span id="freemem" class="panel"></span><br>
		<form>
			<button type="button" id="rebootButton">Reboot</button>
			<button type="button" id="shutdownButton">Shutdown</button>
		</form>
	</div>


	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">WiFi</h3>
		<form>
			<input type="text" id="networkSSIDTextarea" style="height: 1em; width: 13em;" value="<%= defaultssid %>"><br>
			<input type="password" id="networkPasswordTextarea" style="height: 1em; width: 13em;"><br>
			<button type="button" id="networkButton">Save</button>
		</form>
	</div>

	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">Hostname</h3>
		<form>
			<input type="text" id="hostnameTextarea" style="height: 1em; width: 13em;" value="<%= hostname %>"><br>
			<button type="button" id="hostnameButton">Save</button>
		</form>
	</div>

	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">Default SuperCollider File</h3>
		<form>
			<input type="text" id="defaultSCFileTextarea" style="height: 1em; width: 13em;" value="<%= defaultSCFile %>"><br>
			<button type="button" id="defaultSCFileButton">Save</button>
		</form>
	</div>

	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">Sensor data target</h3>
		<form>
			<select id="sensorDataTargetSelect">
				<option selected disabled>Choose...</option>
				<option>Language</option>
				<option>Server</option>
			</select>
			<br>
			<button type="button" id="sensorDataTargetButton">Save</button>
		</form>
	</div>

	<div class="PrynthPanel SettingsPanel">
		<h3 class="PrynthPanelLabel">Audio Device</h3>
		<form>
			<h4>Device ID number (ALSA)</h4>
			<select id="device">
				<option selected disabled>Choose...</option>
				<option>0</option>
				<option>1</option>
			</select>
			<br>

			<h4>Vector Size</h4>
			<select id="vectorSize">
				<option selected disabled>Choose...</option>
				<option>256</option>
				<option>514</option>
				<option>1024</option>
			</select>
			<br>

			<h4>Sample Rate</h4>
			<select id="sampleRate">
				<option selected disabled>Choose...</option>
				<option>44100</option>
				<option>48000</option>
			</select>
			<br>
			<button type="button" id="audioDeviceButton">Save</button>
		</form>
	</div>

</div>

<script>
	$(document).ready(function () {

		let socket = io.connect();

		let $clock = $('#clock');
		let $hostname = $('#hostname');
		let $ethernetip = $('#ethernetip');
		let $wirelessip = $('#wirelessip');
		let $cpu = $('#cpu');
		let $freemem = $('#freemem');

		let $networkSSIDTextarea = $('#networkSSIDTextarea');
		let $networkPasswordTextarea = $('#networkPasswordTextarea');
		let $networkSubmit = $('#networkButton');

		let $hostnameTextarea = $('#hostnameTextarea');
		let $hostnameSubmit = $('#hostnameButton');

		let $defaultSCFileTextarea = $('#defaultSCFileTextarea');
		let $defaultSCFileSubmit = $('#defaultSCFileButton');

		let $sensorDataTargetSelect = $('#sensorDataTargetSelect');
		let $sensorDataTargetButton = $('#sensorDataTargetButton');

		let $rebootSubmit = $('#rebootButton');
		let $shutdownSubmit = $('#shutdownButton');

		$networkSubmit.click(function () {
			let networkName = $networkSSIDTextarea.val();
			let networkPass = $networkPasswordTextarea.val();
			$.ajax({method: "POST", url: '/settings/setwifi', data: {networkname: networkName, networkpass: networkPass}});
			alert('WiFi settings updated. Needs reboot.')
		});

		$hostnameSubmit.click(function () {
			let hostname = $hostnameTextarea.val();
			$.ajax({method: "POST", url: '/settings/sethostname', data: {hostname: hostname}});
			alert('Hostname updadated. Needs reboot.');
		});

		$defaultSCFileSubmit.click(function () {
			let defaultSCFile = $defaultSCFileTextarea.val();
			$.ajax({method: "POST", url: '/settings/setdefaultscfile', data: {defaultSCFile: defaultSCFile}});
			alert('Default file updated. This file will run automatically the next time Prynth is booted.');
		});

		$sensorDataTargetButton.click(function () {
			let sensorDataTargetOutput;
			let sensorDataTarget = $sensorDataTargetSelect.val();
			if(sensorDataTarget === "Server"){sensorDataTargetOutput = "s"} else {sensorDataTargetOutput = "l"}
			$.ajax({method: "POST", url: '/settings/setsensordatatarget', data: {sensorDataTarget: sensorDataTargetOutput}});
			alert('Sensor data target updated. Needs reboot.');

		});

		$rebootSubmit.click(function () {
			$.ajax({method: "POST", url: 'settings/reboot'});
			alert('Rebooting...');
		});

		$shutdownSubmit.click(function () {
			$.ajax({method: "POST", url: 'settings/shutdown'});
			alert('Shutting down...')
		});

		//receive systeminfo
		socket.on('systeminfo', function (data) {
			$clock.html(data.tick +' s');
			$hostname.html(data.hostname);
			$ethernetip.html(data.ethernetip);
			$wirelessip.html(data.wirelessip);
			$cpu.html(data.cpu + ' %');
			$freemem.html(data.freemem + ' Mb' );
		})

		//close socket when closing client
		$(window).on('beforeunload', function(){
			socket.close();
		});

	});
</script>

</body>
</html>
