/* Based on Sublime Text's monokai theme */

/*.cm-s-prynth-cm.CodeMirror { background: #272822; color: #f8f8f2;}*/
.cm-s-prynth-cm.CodeMirror { background: #292a24; color: #f8f8f2;}
.cm-s-prynth-cm div.CodeMirror-selected { background: #49483E; }
/*.cm-s-prynth-cm .CodeMirror-line::selection, .cm-s-prynth-cm .CodeMirror-line > span::selection, .cm-s-prynth-cm .CodeMirror-line > span > span::selection { background: rgba(73, 72, 62, .99); }*/
.cm-s-prynth-cm .CodeMirror-line::-moz-selection, .cm-s-prynth-cm .CodeMirror-line > span::-moz-selection, .cm-s-prynth-cm .CodeMirror-line > span > span::-moz-selection { background: rgba(73, 72, 62, .99); }
/*.cm-s-prynth-cm .CodeMirror-gutters { background: #272822; border-right: 0px; }*/
.cm-s-prynth-cm .CodeMirror-gutters { background: #1c1c17; border-right: 0px; }
.cm-s-prynth-cm .CodeMirror-guttermarker { color: white; }
.cm-s-prynth-cm .CodeMirror-guttermarker-subtle { color: #d0d0d0; }
.cm-s-prynth-cm .CodeMirror-linenumber { color: #d0d0d0; }
.cm-s-prynth-cm .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }

.cm-s-prynth-cm span.cm-comment { color: #75715e; }
.cm-s-prynth-cm span.cm-atom { color: #ae81ff; }
.cm-s-prynth-cm span.cm-number { color: #ae81ff; }

.cm-s-prynth-cm span.cm-property, .cm-s-prynth-cm span.cm-attribute { color: #a6e22e; }
.cm-s-prynth-cm span.cm-keyword { color: #f92672; }
.cm-s-prynth-cm span.cm-builtin { color: #66d9ef; }
.cm-s-prynth-cm span.cm-string { color: #e6db74; }

.cm-s-prynth-cm span.cm-variable { color: #f8f8f2; }
.cm-s-prynth-cm span.cm-variable-2 { color: #9effff; }
.cm-s-prynth-cm span.cm-variable-3 { color: #66d9ef; }
.cm-s-prynth-cm span.cm-def { color: #fd971f; }
.cm-s-prynth-cm span.cm-bracket { color: #f8f8f2; }
.cm-s-prynth-cm span.cm-tag { color: #f92672; }
.cm-s-prynth-cm span.cm-header { color: #ae81ff; }
.cm-s-prynth-cm span.cm-link { color: #ae81ff; }
.cm-s-prynth-cm span.cm-error { background: #f92672; color: #f8f8f0; }

.cm-s-prynth-cm .CodeMirror-activeline-background { background: #373831; }
.cm-s-prynth-cm .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
